/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 18px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: transparent;
    color: #ffffff;
/** border-bottom: 2px solid #313244; **/
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background-color: transparent;
}

/** ********** Waybar Workspaces ******* **/
#workspaces button {
    color: #e6d5d9;
    padding: 2px 6px;
    margin: 6px 0px;
    font-weight: bold;
    border-radius: 4;
    background: #273030;
}

#workspaces button.active {
    background: #218a81;
    color: #f9f5ff;
}

#workspaces button.urgent {
    background: #218a81;
}

/** ********** Backlight ********** **/
#backlight {
        color: #273030;
	background-color: #36c28c;
}

/** ********** Battery ********** **/
#battery {
        color: #273030;
	background-color: #f9e2af;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
        color: #273030;
	background-color: #a6e3a1;
}

/** ********** CPU ********** **/
#cpu {  
        color: #273030;
	background-color: #89dceb;
}

/** ********** Memory ********** **/
#memory {
        color: #273030;
	background-color: #eba0ac;
}

/** ********** Disk ********** **/
#disk {
        color: #273030;
	background-color: #b4befe;
}

/** ********** Tray ********** **/
#tray { 
        color: #273030;
	background-color: #cdd6f4;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	background-color: #94e2d5;
}

#mpd.disconnected {
	background-color: #f38ba8;
}

#mpd.stopped {
	background-color: #f5c2e7;
}

#mpd.playing {
	background-color: #74c7ec;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: #fab387;
}

#pulseaudio.bluetooth {
	background-color: #f5c2e7;
}
#pulseaudio.muted {
	background-color: #313244;
	color: #cdd6f4;
}

/** ********** Network ********** **/
#network {
	background-color: #89b4fa;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-logo, #custom-menu, #custom-power, #custom-swaylock, #custom-wallpapers, #custom-speed, #custom-pipewire {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: #f5c2e7;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	color: #273030;
        background-color: #f38ba8;
	margin-right: 6px;
	padding: 2px 8px;
}

#custom-speed {
        color: #273030;
	background-color: #e6ed7b;
	margin-right: 6px;
	padding: 2px 8px;
}

#custom-pipewire {
        color: #273030;
        background-color: #61f757;
        margin-right: 6px;
        padding: 2px 8px;
}

#custom-logo {
        color: #faf5f6;
        background-color: #c23657;
        margin-right: 4px;
        margin-left: 6px;
        padding: 2px 8px;
}

#custom-swaylock {
        color: #273030;
	background-color: #98c236;
	margin-right: 6px;
	padding: 2px 8px;
}

#custom-wallpapers {
        color: #273030;
        background-color: #5e36c2;
        margin-right: 6px;
        padding: 2px 8px;
}

/** Common style **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}
